<a href="https://colab.research.google.com/github/KatBCN/ML-PropertyAssessment/blob/main/ML_DataSplit_PropertyAssessment_Buffalo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Splitting into Train / Validation / Test

In this notebook, we will follow the code example show in Lab 4 in order to partition the data prior to developing our pre-process and training pipeline.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style

import seaborn as sns

from sklearn.model_selection import train_test_split

In [3]:
pd.set_option('display.max_columns', None)  #set display to show all columns

We import the data from our [GitHub repository](https://github.com/KatBCN/ML-PropertyAssessment).

In [4]:
data_link = "https://raw.githubusercontent.com/KatBCN/ML-PropertyAssessment/main/Data/2019-2020_Assessment_Roll.csv"
df = pd.read_csv(data_link)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
# Show number of rows and columns in dataframe
df.shape

(93862, 51)

In [6]:
# Show column names
df.columns

Index(['SBL', 'Tax District', 'Print Key', 'Front', 'Depth', 'Property Class',
       'Property Class Description', 'Previous Property Class', 'Owner1',
       'Owner2', 'Previous Owner', 'Mail1', 'Mail2', 'Mail3', 'Mail4',
       'House Number', 'Street', 'Address', 'City', 'State', 'Zipcode',
       'Zipcode Extension', 'Deed Book', 'Deed Page', 'Deed Date', 'Roll',
       'Land Value', 'Total Value', 'Sale Price', 'Year Built',
       'First Story Area', 'Second Story Area', 'Total Living Area',
       'Overall Condition', 'Building Style', 'Heat Type', 'Basement Type',
       '# of Stories', '# of Fireplaces', '# of Beds', '# of Baths',
       '# of Kitchens', 'Council District', 'Police District', 'Census Tract',
       'Census Block Group', 'Census Block', 'Neighborhood', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [10]:
df.head()

,SBL,Tax District,Print Key,Front,Depth,Property Class,Property Class Description,Previous Property Class,Owner1,Owner2,Previous Owner,Mail1,Mail2,Mail3,Mail4,House Number,Street,Address,City,State,Zipcode,Zipcode Extension,Deed Book,Deed Page,Deed Date,Roll,Land Value,Total Value,Sale Price,Year Built,First Story Area,Second Story Area,Total Living Area,Overall Condition,Building Style,Heat Type,Basement Type,# of Stories,# of Fireplaces,# of Beds,# of Baths,# of Kitchens,Council District,Police District,Census Tract,Census Block Group,Census Block,Neighborhood,Latitude,Longitude,Location
0,1113100012001122A,147003.0,111.31-12-1.122/A,0.00,0.00,873,GAS MEAS STATION,873.0,NATIONAL FUEL GAS DIST,CORP,NaN,NaN,NaN,6363 MAIN ST,"WILLIAMSVILLE, NY",725.0,WASHINGTON,NaN,BUFFALO,NY,14203.0,NaN,NaN,NaN,09/09/9999,6,0,13006,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1011500001001111,147012.0,101.15-1-1.111,0.00,0.00,330,COMMERCIAL VACANT LAND,330.0,"AROUND THE CLOCK CAR WASH,INC.",NaN,NaN,NaN,NaN,6547 EMILY LN,"LOCKPORT, NY",119.0,WEX,NaN,BUFFALO,NY,14211.0,NaN,11144,9356.0,09/09/9999,1,2900,2900,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0785000008001000,147009.0,78.50-8-1,65.00,82.57,311,RESIDENTIAL VACANT LAND,NaN,THE MARRANO/MARC-EQUITY CORP.,NaN,NaN,NaN,NaN,2730 TRANSIT RD,"WEST SENECA, NY",142.0,RACHEL VINCENT,NaN,BUFFALO,NY,14216.0,NaN,11331,1637.0,09/09/9999,1,1700,1700,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1007300008009111,147003.0,100.73-8-9.111,50.00,200.00,311,RESIDENTIAL VACANT LAND,311.0,MARIAH LORETTA LLC,NaN,NaN,NaN,NaN,100 S WOODLAND RIDGE,"ELMA, NY",289.0,LOCUST,NaN,BUFFALO,NY,14204.0,NaN,11309,505.0,09/09/9999,1,3800,3800,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1321500002004000,147013.0,132.15-2-4,521.34,1184.60,340,INDUSTRIAL VACANT LAND,340.0,BUFFALO URBAN DEVELOPMENT CORP,NaN,NaN,NaN,NaN,275 OAK ST,"BUFFALO, NY",126.0,LABORERS WAY,NaN,BUFFALO,NY,14203.0,NaN,11125,6721.0,09/09/9999,8,337000,337000,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Documentation: [pandas.DataFrame.set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)

In [11]:
# Set index as column SBL
df.set_index('SBL', drop=True, append=False, inplace=True, verify_integrity=True)

In [12]:
# Assign target to variable y
y = df[['Land Value','Total Value']]

In [13]:
y.head()

                   Land Value  Total Value
SBL
1113100012001122A           0        13006
1011500001001111         2900         2900
0785000008001000         1700         1700
1007300008009111         3800         3800
1321500002004000       337000       337000

In [15]:
# Assign dataframe except target columns to variable X
X = df.drop(['Land Value','Total Value'], axis=1)

In [16]:
X.head()

,Tax District,Print Key,Front,Depth,Property Class,Property Class Description,Previous Property Class,Owner1,Owner2,Previous Owner,Mail1,Mail2,Mail3,Mail4,House Number,Street,Address,City,State,Zipcode,Zipcode Extension,Deed Book,Deed Page,Deed Date,Roll,Sale Price,Year Built,First Story Area,Second Story Area,Total Living Area,Overall Condition,Building Style,Heat Type,Basement Type,# of Stories,# of Fireplaces,# of Beds,# of Baths,# of Kitchens,Council District,Police District,Census Tract,Census Block Group,Census Block,Neighborhood,Latitude,Longitude,Location
SBL,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1113100012001122A,147003.0,111.31-12-1.122/A,0.00,0.00,873,GAS MEAS STATION,873.0,NATIONAL FUEL GAS DIST,CORP,NaN,NaN,NaN,6363 MAIN ST,"WILLIAMSVILLE, NY",725.0,WASHINGTON,NaN,BUFFALO,NY,14203.0,NaN,NaN,NaN,09/09/9999,6,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1011500001001111,147012.0,101.15-1-1.111,0.00,0.00,330,COMMERCIAL VACANT LAND,330.0,"AROUND THE CLOCK CAR WASH,INC.",NaN,NaN,NaN,NaN,6547 EMILY LN,"LOCKPORT, NY",119.0,WEX,NaN,BUFFALO,NY,14211.0,NaN,11144,9356.0,09/09/9999,1,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0785000008001000,147009.0,78.50-8-1,65.00,82.57,311,RESIDENTIAL VACANT LAND,NaN,THE MARRANO/MARC-EQUITY CORP.,NaN,NaN,NaN,NaN,2730 TRANSIT RD,"WEST SENECA, NY",142.0,RACHEL VINCENT,NaN,BUFFALO,NY,14216.0,NaN,11331,1637.0,09/09/9999,1,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007300008009111,147003.0,100.73-8-9.111,50.00,200.00,311,RESIDENTIAL VACANT LAND,311.0,MARIAH LORETTA LLC,NaN,NaN,NaN,NaN,100 S WOODLAND RIDGE,"ELMA, NY",289.0,LOCUST,NaN,BUFFALO,NY,14204.0,NaN,11309,505.0,09/09/9999,1,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1321500002004000,147013.0,132.15-2-4,521.34,1184.60,340,INDUSTRIAL VACANT LAND,340.0,BUFFALO URBAN DEVELOPMENT CORP,NaN,NaN,NaN,NaN,275 OAK ST,"BUFFALO, NY",126.0,LABORERS WAY,NaN,BUFFALO,NY,14203.0,NaN,11125,6721.0,09/09/9999,8,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### (1) split available data into training + test set

notice that we call `X_learn` the training partition to avoid clash with train later on on train/val split

In [ ]:
X_learn, X_test, y_learn, y_test = train_test_split(X.reshape(-1, 1), y, test_size=0.33)

### (2) use train/val split as resampling method

In [ ]:
# split "learn" into train + validation
X_train, X_val, y_train, y_val = train_test_split(X_learn, y_learn, test_size=0.5)